venv/
ENV/
env/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

.env
*.log
*.sqlite3
build/
dist/
*.egg-info/
client/node_modules/
client/package-lock.json
client/.expo/
client/.expo-shared/
 configuración local
client/metro.config.js
client/babel.config.js
.DS_Store
Thumbs.db
*.bak
*.tmp
*.swp

